variables:
  GIT_SUBMODULE_STRATEGY: recursive

default:
  image: $DOCKER_REGISTRY/$CI_PROJECT_PATH
  tags: [shared]
  before_script:
    - echo '(pushnew :fset-disable-package-lock *features*)' >> ~/.sbclrc
    - cp -r $(pwd)/ /root/quicklisp/local-projects/
    - cd /root/quicklisp/local-projects/$CI_PROJECT_NAME
    - GT=yes make dependencies libcxx-src

check-format:
  stage: .pre
  script:
    - git lisp-format
  except:
    - schedules

build-manual:
  stage: test
  script:
    - make doc
  except:
    - schedules

build-no-tree-sitter:
  stage: test
  script:
    - mv /usr/share/tree-sitter /usr/share/hidden-tree-sitter
    - sbcl --non-interactive --eval "(ql:quickload 'software-evolution-library/test)"
  except:
    - schedules

.test:
  stage: test
  script:
    - LISP=$LISP GT=yes make $TARGET
    # Check no files have been mutated by tests
    - git diff --exit-code
    # Check no files have been added by tests
    - test -z "$(git status --porcelain)"
  except:
    - schedules

unit-test-sbcl:
  variables:
    LISP: 'sbcl'
    TARGET: 'long-unit-check'
  extends: .test

bin-test-sbcl:
  variables:
    LISP: 'sbcl'
    TARGET: 'bin-check long-bin-check'
  extends: .test

unit-test-ccl:
  variables:
    LISP: 'ccl'
    TARGET: 'long-unit-check'
  extends: .test

bin-test-ccl:
  variables:
    LISP: 'ccl'
    TARGET: 'bin-check long-bin-check'
  extends: .test

build-python-no-tree-sitter:
  stage: test
  script:
    - mv /usr/share/tree-sitter /usr/share/hidden-tree-sitter
    - sbcl --non-interactive --eval "(ql:quickload 'software-evolution-library/run-tree-sitter-py-generator)"
    - sbcl --non-interactive --eval "(ql:quickload 'software-evolution-library/run-tree-sitter-interface)"
  except:
    - schedules

.test-python:
  stage: test
  except:
    - schedules
  script:
    - pip install -r python/requirements-dev.txt
    - pip install -r python/requirements.txt
    - pip freeze
    - pre-commit install
    - pre-commit run --all-files
    - LISP=$LISP GT=yes make python-check
    - pyright --version
    - pyright
    - mypy --version
    - mypy python/

test-python-sbcl:
  variables:
    LISP: 'sbcl'
  extends: .test-python

test-python-ccl:
  variables:
    LISP: 'ccl'
  extends: .test-python

deploy-python-package:
  stage: deploy
  image: $DOCKER_REGISTRY/$CI_PROJECT_PATH/python
  script:
    - sbcl --load "/root/quicklisp/setup.lisp"
           --eval '(ql:quickload :software-evolution-library/run-tree-sitter-py-generator)'
           --eval '(quit)'
    - sbcl --load "/root/quicklisp/setup.lisp"
           --eval '(ql:quickload :software-evolution-library/run-tree-sitter-py-generator)'
           --eval '(asdf:make :software-evolution-library/run-tree-sitter-py-generator)'
           --eval '(quit)'
    - sbcl --load "/root/quicklisp/setup.lisp"
           --eval '(ql:quickload :software-evolution-library/deploy-tree-sitter-interface)'
           --eval '(quit)'
    - sbcl --load "/root/quicklisp/setup.lisp"
           --eval '(ql:quickload :software-evolution-library/deploy-tree-sitter-interface)'
           --eval '(asdf:make :software-evolution-library/deploy-tree-sitter-interface)'
           --eval '(quit)'
    - cd python/
    - python3.8 -m pip install -r requirements-dev.txt
    - ../bin/tree-sitter-py-generator > asts/types.py
    - python3.8 setup.py bdist_wheel --dist-dir=dist/
    - find dist -name \*.whl -print0 | xargs -0 -n1 auditwheel repair -w dist/wheelhouse
    - python3.8 -m twine upload --verbose dist/wheelhouse/*.whl -u __token__ -p $PYPI_API_KEY
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^r\d\d\d\d\.\d\d\.\d\d/'
    - if: $MANUAL_PYTHON_RELEASE

dependent-genpatcher:
  stage: deploy
  only: [master]
  except: [schedules]
  trigger: synthesis/genpatcher

dependent-refactoring-mutations:
  stage: deploy
  only: [master]
  except: [schedules]
  trigger: synthesis/refactoring-mutations

dependent-resolve:
  stage: deploy
  only: [master]
  except: [schedules]
  trigger: synthesis/resolve

dependent-ssr:
  stage: deploy
  only: [master]
  except: [schedules]
  trigger: synthesis/ssr

dependent-trace-db:
  stage: deploy
  only: [master]
  except: [schedules]
  trigger: synthesis/trace-db

dependent-cram:
  stage: deploy
  only: [master]
  except: [schedules]
  trigger: synthesis/cpp-to-rust-assisted-migration

# Use kaniko to build docker image.
#  https://docs.gitlab.com/ee/ci/docker/using_kaniko.html
#  https://github.com/GoogleContainerTools/kaniko
.image-build:
  stage: build
  inherit:
    default: false
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  tags: [shared]
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$REGISTRY\":{\"username\":\"$USERNAME\",\"password\":\"$PASSWORD\"}}}" > /kaniko/.docker/config.json
    - >-
      /kaniko/executor
      --context=$CI_PROJECT_DIR/
      --dockerfile=$CI_PROJECT_DIR/$DOCKERFILE_PATH
      --destination=$DESTINATION
      --destination=$DESTINATION:r$(date '+%F')

python-image-build:
  extends: .image-build
  variables:
    DESTINATION: $DOCKER_REGISTRY/$CI_PROJECT_PATH/python
    DOCKERFILE_PATH: python/Dockerfile
    USERNAME: $CI_REGISTRY_USER
    PASSWORD: $CI_REGISTRY_PASSWORD
    REGISTRY: $CI_REGISTRY
  rules:
    - if: '$CI_COMMIT_REF_NAME =~ /^r\d\d\d\d\.\d\d\.\d\d/'
    - if: $MANUAL_PYTHON_RELEASE

.scheduled-build:
  extends: .image-build
  variables:
    DOCKERFILE_PATH: Dockerfile
  only:
    - schedules

scheduled-build-internal:
  variables:
    DESTINATION: $DOCKER_REGISTRY/$CI_PROJECT_PATH
    USERNAME: $CI_REGISTRY_USER
    PASSWORD: $CI_REGISTRY_PASSWORD
    REGISTRY: $CI_REGISTRY
  extends: .scheduled-build

scheduled-build-public:
  variables:
    DESTINATION: grammatech/sel
    USERNAME: $DOCKERHUB_USERNAME
    PASSWORD: $DOCKERHUB_PASSWORD
    REGISTRY: https://index.docker.io/v1/
  extends: .scheduled-build
