# Compiled files
*.fasl
*.lx64fsl

# Documentation cruft
*.1.gz
*.aux
*.bak
*.bbl
*.blg
*.bll
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.xdy
*.lof
*.log
*.lot
*.md.tmp
*.nav
*.out
*.pgf
*.pdf
*.docx
*.snm
*.toc
*.tmp
*.vrb
*.svg
*.html

# Backup files
*~

# Binaries
soft-ev
lisp-runner

# Core dumps, store files, experimental cruft
scratch.lisp
seed
se-test
tests.md
tests.html

local.mk

Dockerfile

# qlot
qlfile.lock
quicklisp
system-index.txt

# loaded libraries
software-evolution.loaded
software-evolution-test.loaded
