# Compiled files
*.fas
*.fasl
*.lx64fsl

# Documentation cruft
*-sb-texinfo.texi
*.1.gz
*.aux
*.bak
*.bbl
*.blg
*.bll
*.docx
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.glsdefs
*.info-*
*.lof
*.log
*.lot
*.md.tmp
*.nav
*.out
*.pgf
*.snm
*.svg
*.tmp
*.toc
*.vrb
*.xdy

# Generated documentation
doc/

# Backup files
*~
*.swp

# Core dumps, store files, experimental cruft
scratch.lisp
seed
se-test

# User-specific Makefile customization
local.mk

# Package system working files
.qlfile
system-index.txt
